# version: "3.8"

name: support-desk

services:
  backend:
    container_name: supportdesk-backend
    build:
      context: backend
    ports:
      - "5000:5000"
    develop:
      watch:
        - action: sync
          path: ./backend/          # your backend source directory
          target: .                  
        - action: rebuild
          path: ./package.json
    environment:
      NODE_ENV: production
      # ✅ connect with app-level credentials
      MONGO_URI: mongodb://app_user:app_password@db:27017/support_desk?authSource=support_desk
      APP_PORT: 5000
      JWT_SECRET: user_specific_secret
      CORS_ORIGIN: http://localhost:3000
    depends_on:
      - db
    networks:
      - supportdesk-network

  frontend:
    container_name: supportdesk-frontend
    build:
      context: frontend
      args:
        VITE_API_URL: http://localhost:5000/api
    ports:
      - "3000:80"
    develop:
      watch:
        - action: sync
          path: frontend
          target: .    
        - action: rebuild
          path: ./package-*.json
    environment:
      VITE_API_URL: http://localhost:5000/api
    depends_on:
      - backend
    networks:
      - supportdesk-network

  db:
    image: mongo:latest
    container_name: supportdesk-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root_admin
      MONGO_INITDB_ROOT_PASSWORD: root_password
      MONGO_INITDB_DATABASE: support_desk
      # ✅ Create a non-root application user
      # MONGO_INITDB_USERNAME: app_user
      # MONGO_INITDB_PASSWORD: app_password
    volumes:
      - mongo-data:/data/db
      # Optionally, you can add initialization scripts here
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - supportdesk-network

networks:
  supportdesk-network:
    driver: bridge

volumes:
  mongo-data:
